@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Big+Shoulders+Display:wght@700&family=Fraunces:wght@700;900&family=Inter:wght@400;700&family=Kumbh+Sans&family=Lexend+Deca&family=Outfit:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.container {
  max-width: 1440px;
  max-height: 800px;
  height: 5000px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
}

.card {
  max-width: 306px;
  max-height: 494px;
  height: 5000px;
  width: 5000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(31, 77%, 52%);
  flex-direction: column;
  padding: 40px 0;
}

.card:nth-child(2) {
  background-color: hsl(184, 100%, 22%);
}

.card:nth-child(3) {
  background-color: hsl(179, 100%, 13%);
}

.logo-card {
  max-width: 227px;
  max-height: 70px;
  height: 5000px;
  width: 5000px;

  margin-bottom: 34px;
  padding: 5px 0;
}

.logo {
  max-width: 40px;
  max-height: 40px;
  height: 5000px;
  width: 5000px;
  background-color: transparent;
  border-radius: 50%;
}

.title-card {
  max-width: 227px;
  max-height: 60px;
  height: 5000px;
  width: 5000px;

  margin-bottom: 40px;
}

.title-card p {
  font-size: 32px;
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display";
  font-weight: 700;
}

.content-card {
  max-width: 227px;
  max-height: 140px;
  height: 5000px;
  width: 5000px;

  margin-bottom: 80px;
}

.content-card p {
  font-size: 16px;
  color: hsl(0, 0%, 95%);
  line-height: 23px;
  font-family: "Lexend Deca", sans-serif;
}

.button-card {
  max-width: 227px;
  max-height: 70px;
  height: 5000px;
  width: 5000px;

  padding: 3px 2px;
}

.button-card button {
  max-width: 145px;
  max-height: 45px;
  height: 5000px;
  width: 5000px;
  border: white 3px solid;
  border-radius: 20px;
  font-size: 16px;
  color: hsl(31, 77%, 52%);
}

.card:nth-child(2) .button-card button {
  color: hsl(184, 100%, 22%);
}

.card:nth-child(3) .button-card button {
  color: hsl(179, 100%, 13%);
}

.button-card button:hover {
  background-color: transparent;
  color: white;
}
.card:nth-child(2) .button-card button:hover {
  background-color: transparent;
  color: white;
}

.card:nth-child(3) .button-card button:hover {
  background-color: transparent;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .card {
    max-width: 280px;
  }
}

@media only screen and (max-width: 845px) {
  .card {
    max-width: 250px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 1500px;
  }
  .card {
    max-width: 306px;
  }
}
